/* Party Global*/
* {
    max-width: 1400px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", "sans-serif";
    color: black;
}

body {
    margin-right: 50px;
}

/* Header et Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 44px;
    margin-left: 55px;
    margin-right: 77px;
}

#logo {
    display: block;
    width: 61px;
    height: 19px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    width: 27.14%;
    height: 100px;
}

nav a:hover {
    padding-top: 15px;
    border-top-width: 160px;
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

#actnav a,
#hébergnav a {
    display: flex;
    align-items: center;
    height: 180px;
    width: 180px;
    justify-content: center;
}

#hébergnav,
#actnav {
    display: flex;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
}

#actnav{
    margin-right: 70px;
}


/* Section intermédiaire avec formulaire et filtres */
h1 {
    margin-top: 50px;
    margin-left: 55px;
    font-size: 22px;
    font-weight: 700;
}

#start h2 {
    margin-left: 55px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
}

/* Formulaire */
form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#formulaire {
    margin-top: 20px;
    margin-left: 30px;
    width: 464px;
    height: 49px;
}

#loc {
    padding-top: 16px;
    padding-left: 18px;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    color: black;
}

input {
    width: 236px;
    height: 49px;
    box-sizing: border-box;
    border: 1px solid #F2F2F2;
    font-size: 18px;
    font-weight: 700;
}

button {
    height: 49px;
    width: 132px;
    background-color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 0px 15px 15px 0px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}

button i{
    visibility: hidden;
}

/* Filtre */
#filtres {
    display: flex;
    max-width: 914px;
    width: 90%;
    height: 50px;
    margin-left: 62px;
    margin-top: 32px;
    font-weight: 700;
    color: black;
}


h2 {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-right: 30px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    list-style-type: none;
    font-size: 17px;
    font-weight: 700;
    margin-right: 50px;
}

#economique {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20.69%;
    min-width: 142px;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    margin-right: 50px;
    font-weight: 700;
}

#familial {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 110px;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    margin-right: 50px;
}

#romantique {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20.69%;
    min-width: 142px;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    margin-right: 50px;
}

#animaux {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 29.93%;
    min-width: 200px;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}

#filtres i {
    color: #0065FC;
}

ul #economique:hover,
#familial:hover,
#romantique:hover,
#animaux:hover {
    background-color: #DEEBFF;
}

a {
    text-decoration: none;
}

/* info */
#info {
    display: flex;
    align-items: center;
    width: 580px;
    height: 67px;
    margin-left: 59px;
    font-size: 16px;
}

#iconInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    margin-right: 11px;
    font-size: 10px;
}

#info i {
    color: #0065FC;
}

/* Hébergement à Marseille */

#cardTitle {
    font-size: 22px;
    font-weight: 700;
    width: 278px;
    height: 26px;
}

#cardBlock {
    display: grid;
    grid-template-columns: 30.32% 30.32% 30.32%;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
}

#cardConteiners {
    width: 69%;
    height: 626px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 50px;
    padding: 40px;
    display: flex;
    flex-direction: column;

}

#card {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 200px;
    height: 199px;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    margin-top: 23px;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
}

#card img {
    object-fit: cover;
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}

#cardInfo {
    margin-left: 16px;
    align-items: center;
    height: 37%;
}

#cardInfo h3 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 4px;
}

#cardInfo p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;

}

#cardInfo i {
    color: #0065FC;
    font-size: 12px;
}


#cardConteiners a {
    font-size: 18px;
    font-weight: 700;

    text-decoration: none;
}

/* Les plus populaires */

#populaires {
    width: 33.4%;
    height: 625px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 40px;
}

#mostPop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 498px;
    margin-right: 40px;
    margin-left: 40px;
}

#titlePop {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

#titlePop i {
    color: #0065FC;
}

#card2 {
    width: 100%;
    min-width: 290px;
    display: flex;
    height: 30.32%;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    margin-top: 23px;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
}

#card2 a{
    display: flex;
}

#card2 img {
    object-fit: cover;
    width: 40%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}

#cardInfoPop {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 60%;
    height: 140px;
}

#cardInfoPop h3 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 16px;
}

#cardInfoPop p {
    font-size: 14px;
    margin-top: 7px;
}

#cardInfoPop i {
    color: #0065FC;
}

#notePop {
    height: 12px;
    margin-bottom: 12px;
    font-size: 12px;
}

#infoPop {
    display: flex;
    flex-direction: column;
    height: 120px;
}


/* Placement des 2 blocks hébergement et populaires */

#bigBlockCards {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

/* Activités à Marseille */

#activités {
    width: 100%;
    height: 493px;
    margin-left: 50px;
    margin-right: 53px;
    margin-top: 60px;
    margin-bottom: 60px;
}

#actTitle {
    font-size: 22px;
    font-weight: 700;
}

#actCardConteiner {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

#actCard {
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 444px;
    border: 0px solid #FFFFFF;
    border-radius: 20px;
    margin-top: 23px;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
}

#actCard img {
    object-fit: cover;
    width: 100%;
    height: 87%;
    border-radius: 20px 20px 0px 0px;
}

#actCardInfo {
    font-size: 16px;
    font-weight: 700;
    padding-left: 19px;
}

#actCardInfo h3{
height: 48px;
display: flex;
align-items: center;
}

#actCard a{
    
    height: 100%;
}


/* Footer */

#footer {
    height: 225px;
    width: 96.5%;
    background-color: #F2F2F2;
    margin-left: 48px;
    display: flex;
    justify-content: space-around;
    padding: 45px;
}

#footerList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#footer h3 {
    font-size: 18px;
    font-weight: 700;
}

#footer a {
    font-size: 16px;
    text-decoration: none;
}


/* Media queries */

@media screen and (max-width:992px) {

    /* haut de page */

    header{
        margin-left: 72px;
        margin-right: 72px;
        width: 94%;
    }

    h1{
        margin-left: 70px;
    }

    #start{
        margin-left: 20px;
    }


    /* Section */

    section{
        margin-left: 18px;
    }
    
    #filtres{
        width: 90%;
        margin-left: 52px;
    }

    #filtres h2{
        margin-right: 12px;
    }

    #filtres ul{
        width: 100%;
    }

    #economique, #familial, #romantique, #animaux{
        margin-right: 2.5%;
    }

    #familial{
    min-width: 98px;
    }

    /* Block Cards hébergement */

    #bigBlockCards{
        display: flex;
        flex-direction: column;
    }

    /* hébergement */
    #cardConteiners{
        width: 90%;
        margin: 0px 70px;
    }

    #cardInfo h3{
        font-size: 14px;
    }

    #cardInfo p{
        font-size: 13px;
    }

    /* Populaire */

    #populaires{
        width: 90%;
        height: 278px;
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 53px;
    }

    #titlePop{
        display: flex;
        justify-content: space-between;
        margin-top: 34px;
        margin-left: 40px;
        margin-right: 40px;
    }

    #mostPop{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        height: 210px;
    }

    #card2{
        min-width: 130px;
        height: 138px;
        margin: 0px;
    }

    #card2 img{
        width: 42%;
    }

    #infoPop h3{
        margin-top: 12px;
        font-size: 14px;
    }

    #infoPop p{
        font-size: 13px;
    }

    /* Block activités */

    #activités{
        height: 380px;
        margin-top: 55px;
        margin-bottom: 40px;
        margin-left: 70px;
    }

    #actCardConteiner{
        height: 301px;
        width: 90%;
    }

    #actCard{
        height: 267px;
    }

    #actCardInfo{
        padding-left: 12px;
    }

    #actCard img{
        height: 79%;
    }

    /* Footer */

    #footer{
        margin-left: 70px;
        width: 90%;
    }

}

@media screen and (max-width:768px) {

    body{
        width: 100%;
        margin: 0px 0px;
    }

    /* Header */

    header{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 21px 0px;
    }

    nav{
        width: 100%;
        margin-top: 30px;
    }

    #hébergnav,
#actnav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 53px;
    margin-right: 0px;
}

#actnav a,
#hébergnav a {
    height: 53px;
    width: 100%;
}


nav a:hover{
    padding-bottom: 23px;
    border-bottom-width: 187px;
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
    border-top: 0px;
}

h1{
    width: 90%;
    margin-left: 20px;
    margin-top: 21px;
}

#start h2 {
    margin-bottom: 36px;
    margin-left: 0px;
}

/* Section */

section{
    margin-left: 0px;
}

/* Formulaire */

#formulaire{
    margin-left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

form{
    width: 332px;
}

button{
    width: 50px;
    font-size: 0px;
}

button i{
    visibility: visible;
    color: #FFFFFF;
    font-size: 17px;
}

#filtres{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 156px;
    width: 100%;
}

#filtres h2{
    margin-bottom: 15px;
}

#filtres ul{
    display: grid;
    justify-content: center;
    grid-template-columns: 160px 160px ;
    grid-template-rows: 50px 50px;
    gap: 14px;
    height: 120px;
    width: 100%;
    min-width: 375px;
    margin-right: 0px;
}

#economique li, #romantique li{
    position: relative;
    right: 20px
}

#familial li{
    position: relative;
    right: 35px;
}

#animaux li{
    position: relative;
    right: 10px;
}

#economique, #familial, #romantique, #animaux{
    width: 160px;
    height: 50px;
    margin-right: 14px;
    font-size: 11px;
    min-width: 160px;
}

#info{
    margin-left: 20px;
    height: 57px;
    width: 100%;
    margin-top: 41px;
    margin-bottom: 19px;
}

 /* Block Cards */

 #bigBlockCards{
    margin-left: 0px;
    flex-direction: column-reverse;
 }

 /* Populaires */

 #populaires{
    margin: 0px 0px;
    width: 100%;
    height: 580px;
    border-radius: 0px;
 }

  #mostPop{
    height: 454px;
    flex-direction: column;
    margin-top: 26px;
  }

  #card2{
    width: 89%;
  }

  #infoPop h3{
    font-size: 16px;
  }

  #infoPop p{
    font-size: 14px;
  }

  /* Hébergement */

 #cardConteiners{
    margin: 0px 0px;
    width: 100%;
    height: 1400px;
    background-color: #FFFFFF;
    padding-top: 71px;
 }

 #cardTitle{
    margin-bottom: 19px;
 }

 #cardConteiners a{
    font-size: 0px;
 }

 #cardBlock{
    height: 1254px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 0px;
 }

 #card{
    margin-top: 0px;
    max-width: 89%;
 }

 #cardInfo{
    height: 75px;
 }

 /* Activités */

 #activités{
    margin-left: 20px;
    margin-top: 65px;
    height: 935px;
 }

 #actCardConteiner{
    flex-direction: column;
    height: 935px;
    align-items: center;
    margin-right: 22px;
 }

 #actCard{
    width: 89%;
    height: 190px;
 }

 #actCardInfo{
    height: 56px;
    margin-left: 19px;
    align-items: center;
 }

 #actCard img{
    height: 134px;
 }

 /* Footer */

 #footer{
    width: 100%;
    height: 501px;
    margin-left: 0px;
    margin-top: 105px;
    flex-direction: column;
    padding-left: 30px;
 }

 #footerList{
    height: 30%;
    padding-bottom: 15px;
 }

 #footerList h3{
    margin-bottom: 10px;
 }

}